@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

.main {
    min-height: 100vh;
    position: relative;
    width: 100%;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main .image-container {
    padding: 10px;
}

.main .image-container .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .image-container .image img {
    width: 350px;
    align-items: center;
}

.main .image-container h1 {
    color: #00bcd4;
    text-align: center;
    margin-bottom: 10px;
    font-size: 40px;
}

.main .image-container p {
    color: #324042;
    text-align: center;
    margin-bottom: 40px;
}

.main .input {
     display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 50px;
    border-radius: 20px;
    background: rgb(202 253 255 / 50%);
    cursor: pointer;
    gap: 1px;
    transition: all 0.3s ease;
}


.input:hover {
    background: rgba(0, 188, 212, 0.2);
    box-shadow: 0 0 15px rgba(0, 188, 212, 0.5);
    transform: scale(1.02);
}

.main .input .talk {
    background: transparent;
    outline: none;
    border: none;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.main .input .talk i {
    font-size: 20px;
    color: #fdfcff;
}

.main .input .content {
    color: #e3ebdc;
    font-size: 15px;
    margin-right: 20px;
}

.talk {
    background-color: #00bcd4;
    border: none;
    color: white;
    padding: 12px 16px;
    border-radius: 50%;
    font-size: 18px;
    transition: all 0.3s ease;
}

.talk:hover {
    background-color: #0097a7;
    transform: scale(1.1);
    box-shadow: 0 0 10px #00bcd4;
    cursor: pointer;
}

